[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "~=4.6.2"
beanie = "~=1.25.0"
typing-extensions = "~=4.10.0"
fastapi = "~=0.110.0"
uvicorn = "~=0.29.0"
motor = "~=3.3.2"
pydantic-settings = "*"
pydantic = {extras = ["email"], version = "*"}
pyjwt = "*"
firebase-admin = "*"
python-multipart = "*"
pandas = "*"
langchain-mongodb = "*"
langchain = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.12"
